@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

body {

    line-height: 1.6;
    margin: 40px;
    font-size: large;
    font-family: 'Nanum Myeongjo';
}

body.blue-theme {
    background-color: black;
    color: white;
    line-height: 1.6;
    margin: 40px;
}

body.a {
    background-color: black;
    color: white;
    line-height: 15;
    margin: 40px;
}

body.b {
    background-color: rgb(240, 240, 243);
    line-height: 1.5;
    margin: 0px;
}

body.c {
    line-height: 2.9;
    font-size: 30px;
}

#name {
    width: 50vh;
    position: absolute;
    top: 30%;
}

#name2 {
    width: 30vh;
    position: absolute;
    justify-content: center;

}

#bi {
    width: 150px;
    position: absolute;
    top: 10px
}