@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');

body {
    line-height: 1.6;
    padding: 10px;
    font-size: large;
    font-family: 'Nanum Myeongjo';
    font-weight: 700;
    box-sizing: border-box;
}

body.w {
    line-height: 1.6;
    margin: 40px;
}


body.blue-theme {
    background-color: rgb(17, 17, 17);
    color: white;
    line-height: 1.6;
    margin: 40px;
}

body.a {
    background-color: black;
    color: white;
    line-height: 15;
    margin: 40px;
}

body.b {
    background-color: rgb(246, 246, 248);
    position: relative;
    align-content: center;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
}

body.b img {
    width: 100%;
    max-width: 100vw;
    height: auto;
    display: block;
    margin: 0;
}

body.c {
    line-height: 2.9;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

#name {
    width: 100%;
    max-width: 100vw;
    height: auto;
    display: block;
    margin: 0 auto;
}

#name2 {
    width: 70%;
    max-width: 70vw;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}

#bi {
    width: 150px;
    position: absolute;
    top: 10px
}



#a1 {

    text-decoration: none;
    font-family: "Moirai One", system-ui;
    color: inherit;

}

#a1:hover {
    color: white;
}


#a2 {
    text-decoration: none;
    color: rgb(147, 151, 165);
}

#a2:hover {
    color: red;
}

#last {
    color: rgb(218, 217, 217);
}

#b {
    color: slategray;

}

body.d {
    background-color: mediumblue;
    color: white;
    line-height: 1.6;
    margin: 40px;
}

#a3 {
    text-decoration: none;
    color: inherit
}

#last {
    animation: erase 60s
}

@keyframes erase {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#snow {
    color: black;
}