@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');

body {

    line-height: 1.6;
    margin: 40px;
    font-size: large;
    font-family: 'Nanum Myeongjo';
    font-weight: 700;
}

body.blue-theme {
    background-color: black;
    color: white;
    line-height: 1.6;
    margin: 40px;
}

body.a {
    background-color: black;
    color: white;
    line-height: 15;
    margin: 40px;
}

body.b {
    background-color: rgb(246, 246, 248);
    position: relative;
    align-content: center;
    line-height: 1.5;
    margin: 0px;
}

body.c {
    line-height: 2.9;
    font-size: 30px;
}

#name {
    width: 50vh;
    position: absolute;
    top: 30%;
}

#name2 {
    width: 30vh;
    position: absolute;
    justify-content: center;

}

#bi {
    width: 150px;
    position: absolute;
    top: 10px
}



#a1 {

    text-decoration: none;
    font-family: "Moirai One", system-ui;
    color: inherit;

}

#a1:hover {
    color: white;
}

#a2 {
    text-decoration: none;
    color: cornflowerblue;
}

#a2:hover {
    color: red;
}

#last {
    color: rgb(218, 217, 217);
}

#b {
    color: slategray;

}

body.d {
    background-color: mediumblue;
    color: white;
    line-height: 1.6;
    margin: 40px;
}

#a3 {
    text-decoration: none;
    color: inherit
}

#last {
    animation: erase 20s
}

@keyframes erase {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#snow {
    color: black;
}